# ██╗     ███████╗███╗   ███╗ ██████╗ ███╗   ██╗████████╗██████╗  ██████╗ ███╗   ██╗
# ██║     ██╔════╝████╗ ████║██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗████╗  ██║
# ██║     █████╗  ██╔████╔██║██║   ██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║██╔██╗ ██║
# ██║     ██╔══╝  ██║╚██╔╝██║██║   ██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║██║╚██╗██║
# ███████╗███████╗██║ ╚═╝ ██║╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╔╝██║ ╚████║
# ╚══════╝╚══════╝╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝

#####################################################################
#   References
#####################################################################
# [Main One!] https://github.com/Positron3D/PositronConfig/releases/tag/v1.2.0-beta1
# https://gist.github.com/utlandr/c3dab6bbcca1fc19dfc402d81cfd75e4
# https://github.com/mcfazio2001/JourneyMaker-Positron/blob/main/Software/config/printer.cfg


[include mainsail.cfg]

#####################################################################
#   Debug Settings
#####################################################################

[verify_heater extruder]
max_error: 999

#####################################################################
#   Microcontroller Settings
#####################################################################

## SKR Pico
[mcu]
serial: /dev/serial0
baud: 250000
restart_method: command

[virtual_sdcard]
path: /home/zoe/printer_data/gcodes

#####################################################################
#   Printer Settings
#####################################################################

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 8000 #20000
square_corner_velocity: 12
minimum_cruise_ratio: 0.0
max_z_velocity: 20
max_z_accel: 150

[bed_mesh]
speed: 200
horizontal_move_z: 5
# probe x_offset: 16
# probe y_offset: 21
#mesh_min: 12,37
#mesh_max: 186,196
mesh_min: 24,0
mesh_max: 180,150
probe_count: 4,4

#####################################################################
#   X/Y Stepper Settings
#####################################################################

# To tune sensorless homing sensitivity, adjust driver_SGTHRS up to
# increase sensitivity and down to decrease it. For more, see
# https://wiki.positron3d.com/en/Printers/Positron/Software/PrinterConfigs

 ## A Motor
[stepper_x]
step_pin: gpio11
dir_pin: gpio10
enable_pin: !gpio12
#step_pin: gpio11
#dir_pin: gpio10
#enable_pin: !gpio12
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_min: 0
position_max: 180
homing_speed: 50
high_precision_step_compress: True

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 1.0
hold_current: 0.4
diag_pin: ^gpio4
#stealthchop_threshold: 999999
driver_SGTHRS: 66 # YOU NEED TO CALIBRATE THIS YOURSELF - lower is less sensitive, higher is more sensitive
sense_resistor: 0.110

 ## B Motor
[stepper_y]
step_pin: gpio6
dir_pin: gpio5
enable_pin: !gpio7
#step_pin: gpio6
#dir_pin: gpio5
#enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 177
position_min: 0
position_max: 177
homing_speed: 50
high_precision_step_compress: True

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 1.0
hold_current: 0.4
diag_pin: ^gpio3
#stealthchop_threshold: 999999
driver_SGTHRS: 68 # YOU NEED TO CALIBRATE THIS YOURSELF - lower is less sensitive, higher is more sensitive
sense_resistor: 0.110

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -2.0
position_max: 160
homing_speed: 20
homing_retract_dist: 3.7
homing_retract_speed: 20
second_homing_speed: 2 # Slow makes it more accurate and repeatable!

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.6
hold_current: 0.4
#stealthchop_threshold: 999999
sense_resistor: 0.110

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: gpio14
enable_pin: !gpio15
microsteps: 16
full_steps_per_rotation: 200

### Lemonstruder 2 -- Uncomment to use this config
dir_pin: !gpio13
#rotation_distance: 25.27 #28.08
#gear_ratio: 72:16
rotation_distance: 23.314
gear_ratio: 50:10   

nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: gpio23
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: gpio27
#pullup_resistor: 2200
control: pid
pid_Kp: 25.12
pid_Ki: 1.073
pid_Kd: 147
min_temp: -100
max_temp: 300
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_cross_section: 2
min_extrude_temp: 0
#pressure_advance: 0.2
pressure_advance_model: recipr
linear_advance: 0.3
nonlinear_offset: 0.0
pressure_advance_time_offset: 0.001
linearization_velocity: 2
pressure_advance_smooth_time: 0.02
high_precision_step_compress: True

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.6
hold_current: 0.5
stealthchop_threshold: 0
sense_resistor: 0.110

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: gpio21
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: gpio26
pwm_cycle_time: 0.3
max_power: 1.0
#control: pid
#pid_Kp: 56.852
#pid_Ki: 2.1
#pid_Kd: 383.75
min_temp: -273
max_temp: 120

#####################################################################
#   Probe
#####################################################################

## Microprobe
[output_pin probe_enable]
pin: gpio29 # The control IO pin 
value: 0 # Probe default retracted

[probe]
pin: ^!gpio22
deactivate_on_each_sample: False
x_offset: 15
y_offset: -24
#z_offset: -0.8
speed: 6
samples: 2
sample_retract_dist: 3.7
samples_tolerance: 0.05
samples_tolerance_retries: 3
samples_result: median
activate_gcode:
  PROBE_DEPLOY
  G4 P200
deactivate_gcode:
  PROBE_RETRACT

#####################################################################
#   Fan Control
#####################################################################

## PCF - Part Cooling Fan (Toolhead)
[fan]
pin: gpio18
max_power: 1.0
kick_start_time: 1
off_below: 0.1 # Scale with max_power

## HEF - Hotend Fan (Toolhead)
[heater_fan hotend_fan]
pin: gpio20
max_power: 1.0
kick_start_time: 1
fan_speed: 1
heater: extruder
off_below: 0.1 # Scale with max_power
hardware_pwm: True

## Chassis Fans
[controller_fan mcu_fan]
pin: gpio17
max_power: 1.0
shutdown_speed: 0
kick_start_time: 1
fan_speed: 1
idle_timeout: 5
#stepper: stepper_x, stepper_y, stepper_z
stepper: extruder


#####################################################################
#   LED Control
#####################################################################

[neopixel _indicator]
pin: gpio24
chain_count: 4
color_order: GRB
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.2

#####################################################################
#   Accelerometer
#####################################################################

#[adxl345] # todo
# cs_pin: pth:gpio21
# spi_software_sclk_pin: pth:gpio18
# spi_software_mosi_pin: pth:gpio20
# spi_software_miso_pin: pth:gpio19

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     90, 90, 20

#####################################################################
#   Additional Sensors
#####################################################################

[temperature_sensor mcu]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host

#####################################################################
#   Bed Adjustment Routines
#####################################################################

[bed_screws]
 ## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 90,20
screw1_name: rear
screw2: 5,170
screw2_name: left
screw3: 180,170
screw3_name: right

[screws_tilt_adjust]
screw1: 75, 20
screw1_name: rear
screw2: 5, 123
screw2_name: left
screw3: 175, 123
screw3_name: right
horizontal_move_z: 3
speed: 150
screw_thread: CCW-M3

#[screws_tilt_adjust]
#screw1: 85, 20
#screw1_name: rear
#screw2: 5, 123
#screw2_name: left
#screw3: 162, 123
#screw3_name: right
#horizontal_move_z: 3
#speed: 150
#screw_thread: CCW-M3

#####################################################################
#   Buzzer
#####################################################################

# [output_pin _buzzer]
# pin: gpio22
# value: 0
# shutdown_value: 0

#####################################################################
#   Additional Features
#####################################################################

#[input_shaper]
[exclude_object]
[idle_timeout]
timeout: 1800

# [probe]
# z_offset = 2.020

#####################################################################
#   Additional Files
#####################################################################

[include positron_macros.cfg]
[pa_test]
size_x: 100   # X dimension tower size  (mm)
size_y: 50    # Y dimension tower size  (mm)
height: 50    # Height of tower (mm)
origin_x: 90 # Center of the bed in X
origin_y: 90 # Center of the bed in Y
layer_height: 0.2 # mm
first_layer_height: 0.24 # mm
perimeters: 2 # Number of perimeters to be printed for the tower
brim_width: 6 # Width of brim (mm)
slow_velocity:   20 # Slowest velocity for PA test segment (mm/s)
medium_velocity: 50 # Medium velocity for PA test segment (mm/s)
fast_velocity:  150 # End velocity for PA test segment (mm/s)
filament_diameter: 1.75
fan_speed: 1.0 # Fan speed applied after the brim is printed

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.197500, 0.047500, 0.091875, -0.106250
#*# 	  -0.268750, -0.026250, 0.016250, -0.088750
#*# 	  -0.278750, -0.014375, 0.066250, 0.006250
#*# 	  -0.098125, 0.171875, 0.265625, 0.206250
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 24.0
#*# max_x = 180.0
#*# min_y = 0.0
#*# max_y = 150.0
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 61.866
#*# pid_ki = 2.696
#*# pid_kd = 354.956
#*#
#*# [probe]
#*# z_offset = 1.549
